%sr-only,
.sr-only {
  @extend %absolute;
  @extend %pa0;
  @extend %bw0;
  @extend %overflow-hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
%sr-only-focusable,
.sr-only-focusable {
  &:focus {
    @extend %relative;
    @extend %w-auto;
    @extend %h-auto;
    clip: initial;
    margin: inherit;
    border: initial;
  }
}