%f-hero {
  font-size: 2rem;
  @include ns {
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: -0.0275em;
  }
  @include l {
    font-size: 4rem;
  }
}
%sc {
  font-feature-settings: 'c2sc';
}
%ffsn {
  font-feature-settings: normal;
}
%a {
  &:hover,
  &:focus {
    background: #e3e3ff;
  }
  &:focus {
    outline-offset: 0.1em;
  }
}
%top--1 {
  top: -0.85em;
  @include l {
    top: auto;
  }
}