$bg-color: #ffffff;

@mixin b {
  @content;
  &-ns { @include ns { @content; } }
  &-l  { @include l  { @content; } }
  &-xl { @include xl { @content; } }
}

%f-hero {
  font-size: 2rem;
  @include ns {
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: -0.0275em;
  }
  @include l {
    font-size: 4rem;
    line-height: 0.92;
    letter-spacing: -0.0275em;
  }
}

%tracked-slight {
  @include b {
    letter-spacing: -0.01em;
  }
}
%tracked-close {
  @include b {
    letter-spacing: -0.025em;
  }
}
%lh-compressed {
  @include b {
    line-height: 0.92;
  }
}
%lh-25 {
  @include b {
    line-height: 1.25;
  }
}
%sc {
  font-feature-settings: 'smcp';
}

%a {
  &:hover,
  &:focus {
    background: #e3e3ff;
  }
  &:focus {
    outline-offset: 0.1em;
  }
}

%top--1 {
  top: -0.85em;
  @include l {
    top: auto;
  }
}

%columns-2 {
  @include b {
    columns: 2;
  }
}
%columns-3 {
  @include b {
    columns: 3;
  }
}
%w-75 {
  @include b {
    width: 75%;
  }
}
%w-25 {
  @include b {
    width: 25%;
  }
}
%w-20 {
  @include b {
    width: 20%;
  }
}
%w-80 {
  @include b {
    width: 80%;
  }
}






