$tablet: 768px;
$desktop: 1024px;
$wide: 1350px;

@mixin ns {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}
@mixin m {
  @media screen and (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    @content;
  }
}
@mixin l {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}
@mixin xl {
  @media screen and (min-width: #{$wide}) {
    @content;
  }
}
