mixin analytics
  // privacy-first analytics
  script(async, defer, src='https://scripts.simpleanalyticscdn.com/latest.js')
  noscript
    img(referrerpolicy='no-referrer-when-downgrade', aria-hidden='true', alt='', src='https://queue.simpleanalyticscdn.com/noscript.gif')