-
  const abbrs = [ 'UX', 'UI', 'IA', 'ARIA', 'CSS', 'SVG', 'QA', 'HTML' ]
  const smallcaps = (s) => {
    let words = s.split(' ')
    let output = words.map(word => {
      if (-1 !== abbrs.indexOf(word)) {
        return `<abbr>${word}</abbr>`
      } else {
        return word
      }
    })
    return output.join(' ')
  }