extends ../templates/_root

prepend head
  - const path = ''
  - const type = 'website'
  - const title = 'Sean O\'Shea: UX Designer and Strategist'
  - const description = 'Sean is a UX designer, strategist, researcher, visual designer, front-end developer, and accessibility advocate with over ten years of experience.'
  - const image = '/og.png'
  - const alt = 'UX designer. Strategist. Researcher. Front-end developer. Accessibility advocate. Over ten years of experience.'
  - const card = 'summary_large_image'
  
append json
  include ../../json/index.min.json

append body
  
  main
    
    header.home
      h1
        span.name Sean O'Shea 
        span.sr-only is a 
        | #[abbr UX] designer, strategist, researcher, visual designer, front-end developer, and accessibility advocate.

    +section('About').text
      +subsection('Philosophy')
        p Ego has no place in the design process. Fail quickly to succeed quickly. Negative feedback is a gift. Universal and accessible design is ethical design. Designers are toolmakers. Meet people where they are. Be a facilitator. Define the problem. Play. There's always more than one solution. Empathy is the key to resonance. You are not your user.
      +subsection('Motivators')
        p Tackling complex problems. Building consensus and momentum towards a shared vision. Empowering non-designers to provide confident, actionable feedback. Advocating for users. Writing code. Creating comprehensive Figma component systems.
      +subsection('Background')
        p Ten years of experience with two boutique web design firms and a full-service digital advertising agency. Higher-ed, museums and archives, non-profits, research and policy, global health, start-ups. #[abbr BFA], graphic design.
        
    +section('Hard Skills').lists
      +subsection('Discovery and Research')
        ul
          li stakeholder workshops
          li design thinking exercises
          li accessibility audits
          li heuristic evaluations
          li analytics audits
          li surveys and focus groups
          li moderated user testing
          li unmoderated user testing
          li card-sorting
          li navigation tree testing
      +subsection('UX Design')
        ul
          li user flows and journey maps
          li persona development
          li sitemaps and #[abbr IA]
          li content and data modeling
          li modular component systems
          li wireframes and prototyping
          li functional docs
      +subsection('Visual Design')
        ul
          li spectrum polling
          li moodboards
          li styleguides
          li atomic design
          li figma component systems
          li high-fidelity layouts
      +subsection('Front-end Development')
        ul
          li accessibility
          li semantic #[abbr HTML] and pug
          li #[abbr CSS] and sass
          li javascript / node
          li gulp and express
          li #[abbr SVG] and canvas
          
    +section('Writing and More').cards
      +subsection('Articles')
        dl
          +card('How to Use Design Thinking to Spark Innovation', 'https://www.savaslabs.com/blog/how-use-design-thinking-spark-innovation')
            | Problem-solving, innovation, and brainstorming can be hard. The tricks our brains have evolved to be more efficient can sometimes work against us. We can break those roadblocks using Design Thinking and lateral thinking methods.
          +card('Accessible Text Alternatives for Narrative Animations', 'https://www.savaslabs.com/blog/alt-text-accessible-animations')
            | When animations are a integral part of a site's content, how do you make that content accessible? This article outlines a technique using ARIA roles and JavaScript to provide an equal experience for users that rely on assistive tech.
      +subsection('Speaking')
        dl
          +card('#MW2016: Tackling Complex Web Projects', 'https://mw2016.museumsandtheweb.com/proposal/tackling-complex-web-projects/index.html')
            | Session for the Museums and the Web Conference on how museum professionals can plan for and navigate large digital projects. 
      +subsection('Figma Plugins')
        dl
          +card('@sposhe/voronoi', 'https://www.figma.com/community/plugin/950202611096034331/%40sposhe%2Fvoronoi')
            | Generates Voronoi cell networks as vector shape layers within Figma from a seed frame populated with ellipses marking initial node points.
          +card('@sposhe/poisson', 'https://www.figma.com/community/plugin/952740405797990147/%40sposhe%2Fpoisson')
            | Creates an organically random distribution of one or more Figma elements tightly packed to fill a frame based on a Poisson algorithm. Optionally will randomly rotate each instance.
          +card('@sposhe/reorder', 'https://www.figma.com/community/plugin/1016775617158948031')
            | Reorders a frame's children by their X or Y position (from right to left, top to bottom, etc).
      +subsection('Node Packages')
        dl
          +card('gulp-sass-extend-shorthand', 'https://www.npmjs.com/package/gulp-sass-extend-shorthand')
            | Provides a syntactic sugar shorthand on top of Sass's @extend at-rule syntax, allowing utility classes to be efficiently referenced within more semantic class names.
          +card('gulp-url-builder', 'https://www.npmjs.com/package/gulp-url-builder')
            | Explodes a flat directory of files into nested directories based on a simple naming convention.
          +card('component-indexer', 'https://www.npmjs.com/package/component-indexer')
            | Automatically scans all files in a directory and then references them from a generated index file for easy bulk inclusion elsewhere. Ideal for Pug and Sass.
    
    +section('Current').text
      +subsection('Role')
        p #[abbr.normal UX] Lead at #[+externalLink('https://savaslabs.com') Savas Labs]
      +subsection('Time Zone')
        p Eastern Standard Time (#[abbr.normal GMT]-5)
      +subsection('Elsewhere')
        p #[+externalLink('https://github.com/sposhe') GitHub], #[+externalLink('https://www.figma.com/@sposhe') Figma], #[+externalLink('https://codepen.io/os/') CodePen], #[+externalLink('https://stackoverflow.com/users/5351721/') StackOverflow], and #[+externalLink('https://www.linkedin.com/in/sposhea/') LinkedIn].
      +subsection('Contact')
        p #[a(href='https://airtable.com/shrT0ODcEW6Ar6RVT') Send a message] about new opportunities or collaborations.
  
  
  
  
  
  
  
  
  

